@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: #020617;
  color: #f8fafc;
}

* {
  box-sizing: border-box;
}

.leaflet-container {
  background: #0f172a;
}
